vti_encoding:SR|utf8-nl
vti_author:SR|BIGWORLD\\Andy
vti_modifiedby:SR|BIGWORLD\\Andy
vti_timelastmodified:TR|15 Mar 2004 00:56:13 -0000
vti_timecreated:TR|15 Mar 2004 00:56:13 -0000
vti_cacheddtm:TX|15 Mar 2004 00:56:13 -0000
vti_filesize:IR|1106
vti_extenderversion:SR|5.0.2.4330
vti_lineageid:SR|{88DB78EB-048F-4457-864D-62B60B754DF0}
vti_backlinkinfo:VX|
