vti_encoding:SR|utf8-nl
vti_author:SR|BIGWORLD\\Andy
vti_modifiedby:SR|BIGWORLD\\Andy
vti_timelastmodified:TR|15 Mar 2004 00:56:13 -0000
vti_timecreated:TR|15 Mar 2004 00:56:13 -0000
vti_cacheddtm:TX|15 Mar 2004 00:56:13 -0000
vti_filesize:IR|1504
vti_cachedlinkinfo:VX|S|bcdbnr.gif S|bcdrule.gif S|bcdbull1.gif S|bcdbull2.gif S|bcdbull3.gif S|bcdhns.gif S|bcdhnd.gif S|bcdvns.gif S|bcdvnd.gif S|bcdhom.gif S|bcdup.gif S|bcdpre.gif S|bcdnex.gif S|bcdbull1.gif S|bcdbull2.gif S|bcdbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/barcode/bcdbnr.gif FSUS|_themes/barcode/bcdrule.gif FSUS|_themes/barcode/bcdbull1.gif FSUS|_themes/barcode/bcdbull2.gif FSUS|_themes/barcode/bcdbull3.gif FSUS|_themes/barcode/bcdhns.gif FSUS|_themes/barcode/bcdhnd.gif FSUS|_themes/barcode/bcdvns.gif FSUS|_themes/barcode/bcdvnd.gif FSUS|_themes/barcode/bcdhom.gif FSUS|_themes/barcode/bcdup.gif FSUS|_themes/barcode/bcdpre.gif FSUS|_themes/barcode/bcdnex.gif FSUS|_themes/barcode/bcdbull1.gif FSUS|_themes/barcode/bcdbull2.gif FSUS|_themes/barcode/bcdbull3.gif
vti_extenderversion:SR|5.0.2.4330
vti_lineageid:SR|{E439C5C1-FCBE-44E3-B6B2-FAB9CCDFDA2B}
vti_backlinkinfo:VX|
