vti_encoding:SR|utf8-nl
vti_author:SR|BIGWORLD\\Andy
vti_modifiedby:SR|BIGWORLD\\Andy
vti_timelastmodified:TR|30 Mar 2003 04:57:00 -0000
vti_timecreated:TR|30 Mar 2003 04:57:00 -0000
vti_cacheddtm:TX|30 Mar 2003 04:57:00 -0000
vti_filesize:IR|1091
vti_extenderversion:SR|5.0.2.4330
vti_lineageid:SR|{A9217549-0422-4877-8B31-3E287DF76CF5}
vti_backlinkinfo:VX|
