vti_encoding:SR|utf8-nl
vti_author:SR|BIGWORLD\\Andy
vti_modifiedby:SR|BIGWORLD\\Andy
vti_timelastmodified:TR|30 Mar 2003 04:57:00 -0000
vti_timecreated:TR|30 Mar 2003 04:57:00 -0000
vti_cacheddtm:TX|30 Mar 2003 04:57:00 -0000
vti_filesize:IR|10802
vti_cachedlinkinfo:VX|S|barglobalc.gif S|barbkgde.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/bars/barglobalc.gif FSUS|_themes/bars/barbkgde.gif FSUS|_themes/bars/blank.gif
vti_extenderversion:SR|5.0.2.4330
vti_lineageid:SR|{3CD0F398-223C-4EAB-A0CE-EA9D1632E653}
vti_backlinkinfo:VX|
